{% extends 're_use_html_ele.html' %}
{% load static %}
{% block title %}Add Source{% endblock %}

{% block body %}

<div id="alert" class="alert-Error" style="display: none;">
</div>

<div class="container-fluid" id='Top-div'>
  <div class="d-flex justify-content-center add-source">
    <h2 class="add-source-h">Add Source</h2>
  </div>
  <div class="container-fluid border border-success tips">
    <p><b>Tips: </b><br><b>1. Is English Field: </b> 0=English<b> | </b>1=NonEnglish<b> | </b>2=English &
      NonEnglish<br>
      <b>2. Status Field: </b> 1=Working<b> | </b>2=GTS_Maintenance<b> | </b>3=Website_Issue<b> | </b>4=GTS_Stopped<br>
    </p>
  </div>
  <div class="container-fluid">
    <div class="d-flex justify-content-center ">
      <div class="shadow-lg p-3 mb-5 bg-white rounded">
        <form id="Add-source" method="POST">
          {% csrf_token %}
          <div class="row">
            <div class="col-md-1 form-group">
              <label for="source_no">Source No</label>
              <input type="text" name="source_no" class="form-control" id="source_no" placeholder="Src No">  
              <label id="numberonly" style="color: red; font-size: 13px; display: none;">Enter Number Only</label>
            </div>
            <div class="col-md-3 form-group">
              <label for="source_name">Source Name</label>
              <input type="text" name="source_name" class="form-control" id="source_name" placeholder="Source Name">
            </div>
            <div class="col-md-2 form-group">
              <label for="contry_iso">Country ISO</label>
              <select name="contry_iso" class="drop" id="contry_iso">
                <option selected="selected" disabled> Select </option>
                <option value='MULTIPLE'>MULTIPLE</option>
                {% for country in Country_ISO_list %}
                <option value={{ country.Code }}>{{ country.Country }}</option>
                {% endfor %}
              </select>
            </div>
            <div class="col-md-1 form-group">
              <label for="avg_tender">AVG</label>
              <input type="text" name="avg_tender" class="form-control" id="avg_tender" placeholder="AVG">
              <label style="color: red; font-size: 13px; display: none;">Enter Number Only</label>
              
            </div>
            <div class="col-md-2 form-group">
              <label for="exe_run_by">EXE Run By</label>
              <select name="exe_run_by" class="drop" id="exe_run_by">
                <option selected="selected" disabled> Select </option>
                {% for user in exe_runby_list %}
                <option value={{ user.0 }}>{{ user.1 }}</option>
                {% endfor %}
              </select>
            </div>
            <div class="col-md-2 form-group">
              <label for="exe_developer">EXE Devloper</label>
              <select name="exe_developer" class="drop" id="exe_developer">
                <option selected="selected" disabled> Select </option>
                {% for user in exe_developer_list %}
                <option value={{ user.0 }}>{{ user.1 }}</option>
                {% endfor %}
              </select>
            </div>
            
            <div class="col-md-2 form-group">
              <label for="Devloped_language">Devloped Language</label>
              <select name="Devloped_language" class="drop" id="Devloped_language">
                <option selected="selected" disabled> Select </option>
                <option value="C#">C#.NET</option>
                <option value="Python">Python</option>
              </select>
            </div>
            <div class="col-md-1 form-group">
              <label for="is_english">Is English</label>
              <select name="is_english" class="drop" id="is_english">
                <option selected="selected" disabled> Select </option>
                <option value="0">0</option>
                <option value="1">1</option>
                <option value="2">2</option>
              </select>
            </div>
            <div class="col-md-1 form-group">
              <label for="status">Status</label>
              <select name="status" class="drop" id="status">
                <option selected="selected" disabled> Select</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
              </select>
            </div>
            <div class="col-md-5 form-group">
              <label for="tender_url">Source URL</label>
              <input type="text" name="tender_url" class="form-control" id="tender_url"
                placeholder="http://www.tenderurl.com">
            </div>
            <div class="col-md-8 form-group">
              <label for="remark">Remark</label>
              <textarea class="form-control" name="remark" id="remark" rows="4"></textarea>
          </div>
            <div class="col-md-2 form-group">
              <div id="adjust-div" style="width: 151px;">
                <button type="submit" id="add-source" style="margin-top: 31px;" class="btn btn-outline-success">Add Source</button>
                <div id="add_data_loader" class="spinner-border text-success float-right" style="display: none;" role="status">
                  <span class="sr-only">Loading...</span>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  {% endblock %}
  {% block script %}
  <!-- <script>
    setTimeout(function(){
  if ($('#alert').length > 0) {
    $('#alert').remove();
  }
}, 8000)
  </script> -->
  <script>
    $(document).on('submit','#Add-source',function(e){
      $('#add_data_loader').css({'display':'block','margin-top': '33px'});
      $('#adjust-div').css({'width':'181px'});
      $("#add-source").html('Adding Source....')
      e.preventDefault();
      $.ajax({
        type:"POST",
        url:"Add-source",
        data:{
          source_no:$.trim($('#source_no').val()),
          source_name:$('#source_name').val(),
          contry_iso:$('#contry_iso').val(),
          avg_tender:$('#avg_tender').val(),
          exe_run_by:$('#exe_run_by').val(),
          exe_developer:$('#exe_developer').val(),
          Devloped_language:$('#Devloped_language').val(),
          is_english:$('#is_english').val(),
          status:$('#status').val(),
          tender_url:$('#tender_url').val(),
          remark:$('#remark').val(),
          csrfmiddlewaretoken:$('input[name=csrfmiddlewaretoken]').val(),
          // action: 'post'
        },
        success:function(return_data){
          if(return_data == 'Data Added')
          {
              $('#alert').html('<div class="alert alert-success alert-dismissible"><button type="button" class="close" data-dismiss="alert">&times;</button><strong>Inserted </strong> &#128591  Data Added Sucessfully!!!  &#128591</div>');
              $('#alert').css('display', 'block');
              $('#Add-source')[0].reset();
              $('#add_data_loader').css({'display':'none'});
              $("#add-source").html('Add Source')
              $('#adjust-div').css({'width':'151px'});
          }
          else
          {
            $('#alert').html('<div class="alert alert-danger alert-dismissible"><button type="button" class="close" data-dismiss="alert">&times;</button>&#128545<strong>Error!</strong> '+return_data+'</div>');
            $('#alert').css({'display':'block','margin-bottom': '3px'});
            $('#add_data_loader').css({'display':'none'});
            $("#add-source").html('Add Source')
            $('#adjust-div').css({'width':'151px'});
          }
        }
      });
    });
</script>
  {% endblock %}