<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TendersOnTime | Login Page</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
    <div class="p-3 mb-2 bg-primary text-white"><h4>TendersOnTime</h4></div>
    <div class="container" style="margin-top: 100px;">
        <div class="row justify-content-md-center">
            <div class="col-md-auto text-center">
                Variable width content
            </div>
        </div>
    </div>
</body>
</html>