{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="image/png" href="https://www.tendersontime.com/images/tot_fav icon.png">
    <title>TOT | Login Page</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/stylesheet.css' %}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
    {% csrf_token %}
    <div class="p-3 mb-2 text-bl" style="background-color: #00e7ff;"><label style="color: black; font-size: 20px;">TendersOnTime</label></div>
    <div class="container" style="margin-top: 60px;">
        <div class="row justify-content-md-center">
            <div class="col-md-auto" >
                <div class="row">
                    <div class="col-12 log-d">
                        <label style="font-size: 30px;">Login Page</label>
                    </div>
                    <div class="col-12 log-d">
                        <input type="text" class="form-control log-in" id="username" name="username" placeholder="User / Email-ID">
                    </div>
                    <div class="col-12 log-d">
                        <input type="password" class="form-control log-in" id="password" name="password" placeholder="Password">
                    </div>
                    <div class="col-12 log-d">
                        <a href="#"><button type="submit" id='login-btn'>Login</button></a>
                    </div>
                    <div class="col-12 log-d">
                        <label id="error-lable" style="color: red; display: none;">Invalid Username or Password</label>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</body>
<script>
    $(document).ready(function(){
        $("input:text").val("");
        $("input:password").val("");
        $("#login-btn").click(function(){
            $.ajax({
                    type:"POST",
                    url:"Login-page",
                    data:{
                        username:$('#username').val(),
                        password:$('#password').val(),
                        csrfmiddlewaretoken:$('input[name=csrfmiddlewaretoken]').val(),
                    },
                    success:function(return_data){
                        if(return_data == 'Error')
                        {
                            $("#error-lable").css("display", "Block");
                            $("input:text").val("");
                            $("input:password").val("");
                        }
                        else
                        {
                            window.location = 'homepage';
                            
                        }
                        
                    }
                });
        });
    });
</script>
</html>