{% extends 're_use_html_ele.html' %}
{% load static %}
{% block title %}QC Details{% endblock %}
{% block head %}
<link rel="stylesheet" type="text/css"
    href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.css">
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.21/css/dataTables.bootstrap4.min.css">
<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.21/js/dataTables.bootstrap4.min.js"></script>

{% endblock %}
{% block body %}
{% csrf_token %}
<div class="container-fluid" id="main-div">
    <div class="d-flex justify-content-center source-list">
        <h2 id="source_list_h" name='source_list_h' class="source-list-h">QC Details</h2>
    </div>

    <div class="row" style="border-bottom: 1px solid black;">
        <div class="col-lg-7" style="margin-bottom: 7px;">
            <label>Source Count: <label id="source_count" style="color: red;">{{source_list|length}}</label></label>&nbsp;&nbsp;
            <button type="button"  id = "show-source" class="btn btn-outline-primary" data-toggle="collapse" data-target="#source-list-div">Show Source List</button>
            
        </div>
        
        <div class="col-lg-5" id="from-to-search" style="text-align: right; margin-bottom: 7px;">  
                <label style="font-size: 20px;">From: &nbsp;</label><input id='top_from_date' type="date"/>
                <label style="font-size: 20px;">&nbsp;To: &nbsp;</label><input id='top_to_date' type="date"/>&nbsp;&nbsp;
                <button type="button" id='source-list-get-data' class="btn btn-outline-primary source-list-get-data" style="width: 100px;">Search</button>
        </div>

    </div>

    <div class="collapse" id="source-list-div">
        <div class="row overflow-auto source-list-div"  style="margin: 12px 27px 0px 22px;">
            <div class="col-sm-12 bg-warning" style="margin-bottom: 25px;">
                <h3>0-9</h3>
            </div>
            {% for source in source_list %}
                {% if source.0.0 == '0' or source.0.0 == '1' or source.0.0 == '2'  or source.0.0 == '3' or source.0.0 == '4' or source.0.0 == '5' or source.0.0 == '6' or source.0.0 == '7' or source.0.0 == '8' or source.0.0 == '9' %}
                    <div class="col-lg-2">
                        <input type="checkbox" id="source_name_{{ source.0 }}_number" name="source-name" value="{{ source.0 }}">
                        <label for="source_name_{{ source.0 }}_number"> {{ source.0 }}</label><br>
                    </div>
                {% endif %}    
            {% endfor %}
            
            <div class="col-sm-12 bg-warning" style="margin-bottom: 25px;">
                <h3>a-A</h3>
            </div>
            {% for source in source_list %}
                {% if source.0.0 == 'a' or source.0.0 == 'A' %}
                    <div class="col-lg-3">
                        <input type="checkbox" id="source_name_{{ source.0 }}_a" name="source-name" value="{{ source.0 }}">
                        <label for="source_name_{{ source.0 }}_a"> {{ source.0 }}</label><br>
                    </div>
                {% endif %}    
            {% endfor %}
            
            <div class="col-sm-12 bg-warning" style="margin-bottom: 25px;">
                <h3>b-B</h3>
            </div>
            {% for source in source_list %}
                {% if source.0.0 == 'b' or source.0.0 == 'B' %}
                    <div class="col-lg-3">
                        <input type="checkbox" id="source_name_{{ source.0 }}_b" name="source-name" value="{{ source.0 }}">
                        <label for="source_name_{{ source.0 }}_b"> {{ source.0 }}</label><br>
                    </div>
                {% endif %}    
            {% endfor %}

            <div class="col-sm-12 bg-warning" style="margin-bottom: 25px;">
                <h3>c-C</h3>
            </div>
            {% for source in source_list %}
                {% if source.0.0 == 'c' or source.0.0 == 'C' %}
                    <div class="col-lg-3">
                        <input type="checkbox" id="source_name_{{ source.0 }}_c" name="source-name" value="{{ source.0 }}">
                        <label for="source_name_{{ source.0 }}_c"> {{ source.0 }}</label><br>
                    </div>
                {% endif %}    
            {% endfor %}

            <div class="col-sm-12 bg-warning" style="margin-bottom: 25px;">
                <h3>d-D</h3>
            </div>
            {% for source in source_list %}
                {% if source.0.0 == 'd' or source.0.0 == 'D' %}
                    <div class="col-lg-3">
                        <input type="checkbox" id="source_name_{{ source.0 }}_d" name="source-name" value="{{ source.0 }}">
                        <label for="source_name_{{ source.0 }}_d"> {{ source.0 }}</label><br>
                    </div>
                {% endif %}    
            {% endfor %}

            <div class="col-sm-12 bg-warning" style="margin-bottom: 25px;">
                <h3>e-E</h3>
            </div>
            {% for source in source_list %}
                {% if source.0.0 == 'e' or source.0.0 == 'E' %}
                    <div class="col-lg-3">
                        <input type="checkbox" id="source_name_{{ source.0 }}_e" name="source-name" value="{{ source.0 }}">
                        <label for="source_name_{{ source.0 }}_e"> {{ source.0 }}</label><br>
                    </div>
                {% endif %}    
            {% endfor %}

            <div class="col-sm-12 bg-warning" style="margin-bottom: 25px;">
                <h3>f-F</h3>
            </div>
            {% for source in source_list %}
                {% if source.0.0 == 'f' or source.0.0 == 'F' %}
                    <div class="col-lg-3">
                        <input type="checkbox" id="source_name_{{ source.0 }}_f" name="source-name" value="{{ source.0 }}">
                        <label for="source_name_{{ source.0 }}_f"> {{ source.0 }}</label><br>
                    </div>
                {% endif %}    
            {% endfor %}

            <div class="col-sm-12 bg-warning" style="margin-bottom: 25px;">
                <h3>g-G</h3>
            </div>
            {% for source in source_list %}
                {% if source.0.0 == 'g' or source.0.0 == 'G' %}
                    <div class="col-lg-3">
                        <input type="checkbox" id="source_name_{{ source.0 }}_g" name="source-name" value="{{ source.0 }}">
                        <label for="source_name_{{ source.0 }}_g"> {{ source.0 }}</label><br>
                    </div>
                {% endif %}    
            {% endfor %}

            <div class="col-sm-12 bg-warning" style="margin-bottom: 25px;">
                <h3>h-H</h3>
            </div>
            {% for source in source_list %}
                {% if source.0.0 == 'h' or source.0.0 == 'H' %}
                    <div class="col-lg-3">
                        <input type="checkbox" id="source_name_{{ source.0 }}_h" name="source-name" value="{{ source.0 }}">
                        <label for="source_name_{{ source.0 }}_h"> {{ source.0 }}</label><br>
                    </div>
                {% endif %}    
            {% endfor %}

            <div class="col-sm-12 bg-warning" style="margin-bottom: 25px;">
                <h3>i-I</h3>
            </div>
            {% for source in source_list %}
                {% if source.0.0 == 'i' or source.0.0 == 'I' %}
                    <div class="col-lg-3">
                        <input type="checkbox" id="source_name_{{ source.0 }}_i" name="source-name" value="{{ source.0 }}">
                        <label for="source_name_{{ source.0 }}_i"> {{ source.0 }}</label><br>
                    </div>
                {% endif %}    
            {% endfor %}

            <div class="col-sm-12 bg-warning" style="margin-bottom: 25px;">
                <h3>j-J</h3>
            </div>
            {% for source in source_list %}
                {% if source.0.0 == 'j' or source.0.0 == 'J' %}
                    <div class="col-lg-3">
                        <input type="checkbox" id="source_name_{{ source.0 }}_j" name="source-name" value="{{ source.0 }}">
                        <label for="source_name_{{ source.0 }}_j"> {{ source.0 }}</label><br>
                    </div>
                {% endif %}    
            {% endfor %}

            <div class="col-sm-12 bg-warning" style="margin-bottom: 25px;">
                <h3>k-K</h3>
            </div>
            {% for source in source_list %}
                {% if source.0.0 == 'k' or source.0.0 == 'K' %}
                    <div class="col-lg-3">
                        <input type="checkbox" id="source_name_{{ source.0 }}_k" name="source-name" value="{{ source.0 }}">
                        <label for="source_name_{{ source.0 }}_k"> {{ source.0 }}</label><br>
                    </div>
                {% endif %}    
            {% endfor %}

            <div class="col-sm-12 bg-warning" style="margin-bottom: 25px;">
                <h3>l-L</h3>
            </div>
            {% for source in source_list %}
                {% if source.0.0 == 'l' or source.0.0 == 'L' %}
                    <div class="col-lg-3">
                        <input type="checkbox" id="source_name_{{ source.0 }}_l" name="source-name" value="{{ source.0 }}">
                        <label for="source_name_{{ source.0 }}_l"> {{ source.0 }}</label><br>
                    </div>
                {% endif %}    
            {% endfor %}

            <div class="col-sm-12 bg-warning" style="margin-bottom: 25px;">
                <h3>m-M</h3>
            </div>
            {% for source in source_list %}
                {% if source.0.0 == 'm' or source.0.0 == 'M' %}
                    <div class="col-lg-3">
                        <input type="checkbox" id="source_name_{{ source.0 }}_m" name="source-name" value="{{ source.0 }}">
                        <label for="source_name_{{ source.0 }}_m"> {{ source.0 }}</label><br>
                    </div>
                {% endif %}    
            {% endfor %}

            <div class="col-sm-12 bg-warning" style="margin-bottom: 25px;">
                <h3>n-N</h3>
            </div>
            {% for source in source_list %}
                {% if source.0.0 == 'n' or source.0.0 == 'N' %}
                    <div class="col-lg-3">
                        <input type="checkbox" id="source_name_{{ source.0 }}_n" name="source-name" value="{{ source.0 }}">
                        <label for="source_name_{{ source.0 }}_n"> {{ source.0 }}</label><br>
                    </div>
                {% endif %}    
            {% endfor %}

            <div class="col-sm-12 bg-warning" style="margin-bottom: 25px;">
                <h3>o-O</h3>
            </div>
            {% for source in source_list %}
                {% if source.0.0 == 'o' or source.0.0 == 'O' %}
                    <div class="col-lg-3">
                        <input type="checkbox" id="source_name_{{ source.0 }}_o" name="source-name" value="{{ source.0 }}">
                        <label for="source_name_{{ source.0 }}_o"> {{ source.0 }}</label><br>
                    </div>
                {% endif %}    
            {% endfor %}

            <div class="col-sm-12 bg-warning" style="margin-bottom: 25px;">
                <h3>p-P</h3>
            </div>
            {% for source in source_list %}
                {% if source.0.0 == 'p' or source.0.0 == 'P' %}
                    <div class="col-lg-3">
                        <input type="checkbox" id="source_name_{{ source.0 }}_p" name="source-name" value="{{ source.0 }}">
                        <label for="source_name_{{ source.0 }}_p"> {{ source.0 }}</label><br>
                    </div>
                {% endif %}    
            {% endfor %}

            <div class="col-sm-12 bg-warning" style="margin-bottom: 25px;">
                <h3>q-Q</h3>
            </div>
            {% for source in source_list %}
                {% if source.0.0 == 'q' or source.0.0 == 'Q' %}
                    <div class="col-lg-3">
                        <input type="checkbox" id="source_name_{{ source.0 }}_q" name="source-name" value="{{ source.0 }}">
                        <label for="source_name_{{ source.0 }}_q"> {{ source.0 }}</label><br>
                    </div>
                {% endif %}    
            {% endfor %}

            <div class="col-sm-12 bg-warning" style="margin-bottom: 25px;">
                <h3>r-R</h3>
            </div>
            {% for source in source_list %}
                {% if source.0.0 == 'r' or source.0.0 == 'R' %}
                    <div class="col-lg-3">
                        <input type="checkbox" id="source_name_{{ source.0 }}_r" name="source-name" value="{{ source.0 }}">
                        <label for="source_name_{{ source.0 }}_r"> {{ source.0 }}</label><br>
                    </div>
                {% endif %}    
            {% endfor %}

            <div class="col-sm-12 bg-warning" style="margin-bottom: 25px;">
                <h3>s-S</h3>
            </div>
            {% for source in source_list %}
                {% if source.0.0 == 's' or source.0.0 == 'S' %}
                    <div class="col-lg-3">
                        <input type="checkbox" id="source_name_{{ source.0 }}_s" name="source-name" value="{{ source.0 }}">
                        <label for="source_name_{{ source.0 }}_s"> {{ source.0 }}</label><br>
                    </div>
                {% endif %}    
            {% endfor %}

            <div class="col-sm-12 bg-warning" style="margin-bottom: 25px;">
                <h3>t-T</h3>
            </div>
            {% for source in source_list %}
                {% if source.0.0 == 't' or source.0.0 == 'T' %}
                    <div class="col-lg-3">
                        <input type="checkbox" id="source_name_{{ source.0 }}_t" name="source-name" value="{{ source.0 }}">
                        <label for="source_name_{{ source.0 }}_t"> {{ source.0 }}</label><br>
                    </div>
                {% endif %}    
            {% endfor %}

            <div class="col-sm-12 bg-warning" style="margin-bottom: 25px;">
                <h3>u-U</h3>
            </div>
            {% for source in source_list %}
                {% if source.0.0 == 'u' or source.0.0 == 'U' %}
                    <div class="col-lg-3">
                        <input type="checkbox" id="source_name_{{ source.0 }}_u" name="source-name" value="{{ source.0 }}">
                        <label for="source_name_{{ source.0 }}_u"> {{ source.0 }}</label><br>
                    </div>
                {% endif %}    
            {% endfor %}

            <div class="col-sm-12 bg-warning" style="margin-bottom: 25px;">
                <h3>v-V</h3>
            </div>
            {% for source in source_list %}
                {% if source.0.0 == 'v' or source.0.0 == 'V' %}
                    <div class="col-lg-3">
                        <input type="checkbox" id="source_name_{{ source.0 }}_v" name="source-name" value="{{ source.0 }}">
                        <label for="source_name_{{ source.0 }}_v"> {{ source.0 }}</label><br>
                    </div>
                {% endif %}    
            {% endfor %}

            <div class="col-sm-12 bg-warning" style="margin-bottom: 25px;">
                <h3>w-W</h3>
            </div>
            {% for source in source_list %}
                {% if source.0.0 == 'w' or source.0.0 == 'W' %}
                    <div class="col-lg-3">
                        <input type="checkbox" id="source_name_{{ source.0 }}_w" name="source-name" value="{{ source.0 }}">
                        <label for="source_name_{{ source.0 }}_w"> {{ source.0 }}</label><br>
                    </div>
                {% endif %}    
            {% endfor %}

            <div class="col-sm-12 bg-warning" style="margin-bottom: 25px;">
                <h3>x-X</h3>
            </div>
            {% for source in source_list %}
                {% if source.0.0 == 'x' or source.0.0 == 'X' %}
                    <div class="col-lg-3">
                        <input type="checkbox" id="source_name_{{ source.0 }}_x" name="source-name" value="{{ source.0 }}">
                        <label for="source_name_{{ source.0 }}_x"> {{ source.0 }}</label><br>
                    </div>
                {% endif %}    
            {% endfor %}

            <div class="col-sm-12 bg-warning" style="margin-bottom: 25px;">
                <h3>y-Y</h3>
            </div>
            {% for source in source_list %}
                {% if source.0.0 == 'y' or source.0.0 == 'Y' %}
                    <div class="col-lg-3">
                        <input type="checkbox" id="source_name_{{ source.0 }}_y" name="source-name" value="{{ source.0 }}">
                        <label for="source_name_{{ source.0 }}_y"> {{ source.0 }}</label><br>
                    </div>
                {% endif %}    
            {% endfor %}

            <div class="col-sm-12 bg-warning" style="margin-bottom: 25px;">
                <h3>z-Z</h3>
            </div>
            {% for source in source_list %}
                {% if source.0.0 == 'z' or source.0.0 == 'Z' %}
                    <div class="col-lg-3">
                        <input type="checkbox" id="source_name_{{ source.0 }}_z" name="source-name" value="{{ source.0 }}">
                        <label for="source_name_{{ source.0 }}_z"> {{ source.0 }}</label><br>
                    </div>
                {% endif %}    
            {% endfor %}
            <div class="source-list-footer">
                <input type="text" style="display: none;" id='source_list_text' name="source_list_text" value=""/>
                <label style="font-size: 20px;">From: &nbsp;</label><input id='drop_from_date' type="date"/>
                <label style="font-size: 20px;">&nbsp;To: &nbsp;</label><input id='drop_to_date' type="date"/>&nbsp;&nbsp;
                <button type="button" id='source-list-get-data' class="btn btn-outline-primary source-list-get-data" data-toggle="collapse" data-target="#source-list-div">Search</button>
            </div>
        </div>
    </div>

    <div id='loader_div' style="display: none;">
        <div class="d-flex justify-content-center source-list" style="margin-top: 61px; text-align: center;">
            <lable style="font-size: 34px;"> <span class="grow text-primary">Please</span> <span class="text-success">Wait</span> <span class="text-danger">Until</span> <span class="text-warning">Data</span> <span class="text-info">Load</span> 
                <div class="spinner-grow text-primary" role="status">
                    <span class="sr-only">Loading...</span>
                </div>
                <div class="spinner-grow text-success" role="status">
                    <span class="sr-only">Loading...</span>
                </div>
                <div class="spinner-grow text-danger" role="status">
                    <span class="sr-only">Loading...</span>
                </div>
                <div class="spinner-grow text-warning" role="status">
                    <span class="sr-only">Loading...</span>
                </div>
                <div class="spinner-grow text-info" role="status">
                    <span class="sr-only">Loading...</span>
                </div>
                <br><label style="font-size: 27px; color: lightseagreen;">Data Visible Time will Be Depending On Your Selected Date Like <b class="text-danger">From </b> <B style="color: lightseagreen;">&</B> <B class="text-danger"> To Date</b></label>
            </lable>
            
        </div>
    </div>

    <div id="alert" class="alert-Error" style="display: none;">
    </div>

    <div class="csv-email" style="display:none; text-align: end; margin: 20px 0px 20px 0px;">
        <ul class="list-inline">
            <li class="list-inline-item">
                <form action="export-to-csv" class="form-inline pull-right" method="POST" role="form">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-outline-primary">Export Data To CSV</button>
                    <input type="text" id='html_table_input' name="html_table_input" class="html_table_input" style="display: none;" value="" />
                </form>
            </li>
            <li class="list-inline-item">
                <div class="form-inline pull-right">
                    <button type="button" id="send-email" class="btn btn-outline-danger">Send Email</button>
                    <!-- <input type="text" id='send_Email_dic' name="send_Email_dic" class="send_Email_dic" style="display: none;" value="" /> -->
                </div>
            </li>
        </ul>
    </div>
        
    <div id='table_detail' name="table_detail" class="table-responsive-lg" style="overflow: auto; white-space: nowrap; display: none; height: 500px;">
    </div>

</div>


{% endblock %}
{% block script %}
<script>
    $(document).ready(function(){
        $("#show-source").click(function(){
            $("#from-to-search").toggle();
        });
    });
</script>

<script>
    $(document).ready(function(){
        $(".source-list-get-data").click(function(){
            $('.csv-email').css({'display':'none'});
            $('#loader_div').css({'display':'block'});
            $('#table_detail').css({'display':'none'});
            function clear_modal_elements(id_name) {
                jQuery("#"+id_name).find(':input').each(function() {
                    switch(this.type) {
                        case 'password':
                        case 'text':
                        case 'textarea':
                        case 'file':
                        case 'select-one':
                        case 'select-multiple':
                        case 'date':
                        case 'number':
                        case 'tel':
                        case 'email':
                        case 'hidden':
                            jQuery(this).val('');
                            break;
                        case 'checkbox':
                        case 'radio':
                            this.checked = false;
                            break;
                    }
                });
            }
            var source_list = [];
            $.each($("input[name='source-name']:checked"), function(){            
                source_list.push($(this).val());
            });
            // alert(source_list)
            $("#source_list_text").val(source_list);
            $.ajax({
                type:"POST",
                url:"QC-Detail",
                data:{
                    drop_from_date:$('#drop_from_date').val(),
                    drop_to_date:$('#drop_to_date').val(),
                    top_from_date:$('#top_from_date').val(),
                    top_to_date:$('#top_to_date').val(),
                    source_list_text:$('#source_list_text').val(),
                    csrfmiddlewaretoken:$('input[name=csrfmiddlewaretoken]').val(),
                },
                success:function(return_data){
                    clear_modal_elements("source-list-div");
                    $('#loader_div').css({'display':'none'});
                    $('#table_detail').css({'display':'block'});
                    $('.csv-email').css({'display':'block'});
                    $('#table_detail').html(return_data);
                    $("#html_table_input").val(return_data);
                }
            });
            
        });
    });
</script>

<script>
    $(document).ready(function(){
        $("#send-email").click(function(){
            $("#send-email").html("Email Sending......");
            $.ajax({
                    type:"POST",
                    url:"Send-email",
                    data:{
                        html_table_input:$('#html_table_input').val(),
                        csrfmiddlewaretoken:$('input[name=csrfmiddlewaretoken]').val(),
                    },
                    success:function(return_data){
                        $("#send-email").html("Send Email");
                        if(return_data == 'Email Send Successfully!!!!'){
                            $('#alert').html('<div class="alert alert-success alert-dismissible"><button type="button" class="close" data-dismiss="alert">&times;</button><strong>Inserted &nbsp;</strong> &#128591 &nbsp; '+return_data+' &nbsp; &#128591</div>');
                            $('#alert').css({'display':'block','margin-bottom': '40px','margin-top': '5px'});
                        }
                        else
                        {
                            $('#alert').html('<div class="alert alert-danger alert-dismissible"><button type="button" class="close" data-dismiss="alert">&times;</button>&#128545<strong>Error!</strong> &nbsp; &nbsp;'+return_data+'</div>');
                            $('#alert').css({'display':'block','margin-bottom': '40px','margin-top': '5px'});
                            // $("#loader_div").css("display", "none");
                        }
                        
                    }
                });
        });
    });
</script>
{% endblock %}