{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>TOT | {% block title %} {% endblock %}</title>
    <link rel="shortcut icon" type="image/png" href="https://www.tendersontime.com/images/tot_fav icon.png">
    <link rel="stylesheet" type="text/css" href="{% static 'css/stylesheet.css' %}">
    <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous"> -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.21/css/dataTables.bootstrap4.min.css">
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.21/js/dataTables.bootstrap4.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  {% block head%} {% endblock%}
  </head>
<body>
    {% if request.COOKIES.EXEusername %}
    <div style="background-color: black;">
      <div class="row" id="top-nav">
        <div class="col-4 col-md-4">
          <a href="#" class="top-nav-fa fa fa-facebook"></a>
          <a href="#" class="top-nav-fa fa fa-twitter"></a>
          <a href="#" class="top-nav-fa fa fa-google"></a>
          <a href="#" class="top-nav-fa fa fa-instagram"></a>
          <a href="#" class="top-nav-fa fa fa-pinterest"></a>
        </div>
        <div class="col-4 col-md-4" style="text-align: center;"><label id="brand-name">TendersOnTime</label></div>
        <div class="col-4 col-md-4" style="text-align: end;">
          <label><a class="nav-log-re"  href="">{{ request.COOKIES.EXEusername }}</a> / <a class="nav-log-re"href="Logout">Logout</a></label>
        </div>
      </div>
    </div>
    <nav class="navbar navbar-expand-lg navbar-light" id="navbar">
      <div class="navbar-toggler" style="border:none; width: 100%;">
        <div class="row"style="width: 100%;">
          <div class="col-12 col-md-12">
            <span class="close-btn" onclick="openNav()">&#9776;</span>
          </div>
        </div>
        <div class="row justify-content-md-center"style="width: 100%;">
          <div class="col-12 col-md-12" style="text-align: center;">
            <label id="brand-name">TendersOnTime</label></div>
        </div>
      </div>
      <div class="collapse navbar-collapse">
        <div class="container">
          <div class="row justify-content-md-center" style="text-align: center;margin-top: 22px;">
            <div class="col-sm"><a href="homepage" class="nav-main-a">HOME</a></div>
            <div class="col-sm"><a href="Add-source" class="nav-main-a">ADD SOURCE</a></div>
            <div class="col-sm"><a href="source-list" class="nav-main-a">SOURCE LIST</a></div>
            <div class="col-sm"><a href="source-details" class="nav-main-a">SOURCE DETAILS</a></div>
            <div class="col-sm"><a href="QC-Detail" class="nav-main-a">QC COUNT</a></div>
            <div class="col-sm"><a href="Zero-count-page" class="nav-main-a">ZERO COUNT</a></div>
            <div class="col-sm">
              <div class="dropdown">
                <a class="nav-main-a "><span>MORE <i class="fa fa-angle-down"></i></span></a>
                <div class="dropdown-content-collection">
                  <a href="#">ITEM 1</a>
                  <a href="#">ITEM 2</a>
                </div>
              </div>
          </div>
          
        </div>
        </div>
      </div> 
    </nav>
    <div id="mySidenav" class="sidenav" style="transition: .5s;">
      <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
      <a href="homepage">HOME</a>
      <a href="Add-source">ADD SOURCE</a>
      <a href="source-list">SOURCE LIST</a>
      <a href="source-details">SOURCE DETAILS</a>
      <a href="QC-Detail">QC COUNT</a>
      <a href="Zero-count-page">ZERO COUNT</a>
      <a href="#" class="menus_JS"><span>MORE <i class="fa fa-angle-down"></i></span></a>
      <div class="menu submenus_JS" style="display: none;">
          <a href="#">ITEM 1</a>
          <a href="#">ITEM 2</a>
      </div>
    </div>
      
      {% block body %} {% endblock %}
      {% else %}
      <div class="alert alert-danger alert-dismissible">&#128545<strong>Error!</strong> SomeThing Went Wrong <a href='Login-page'>Please Login Again</a></div>
    {% endif %}
</body>
<script>
  function openNav() {
    $("#brand-name").css("display", "None")
    $("#mySidenav").css("width", "50%")
    $("body").css("background-color", "White")
  }
  
  function closeNav() {
    $("#mySidenav").css("width", "0%")
    $("body").css("background-color", "White")
    $("#brand-name").css({'display':'block'})
  }
</script>
<script>
    $(".menus_JS").click(function(){
    $(".submenus_JS").toggle();
    });
    $(".menus_J").click(function(){
      $(".submenus_J").toggle();
    });
</script>

{% block script %}

 {% endblock %}
</html>