{% extends 're_use_html_ele.html' %}
{% load static %}
{% block title %}Source Details{% endblock %}
{% block head %}
<link rel="stylesheet" type="text/css"
    href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.css">
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.21/css/dataTables.bootstrap4.min.css">
<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.21/js/dataTables.bootstrap4.min.js"></script>

{% endblock %}
{% block body %}
{% csrf_token %}
<div class="container-fluid">
    <div class="d-flex justify-content-center source-list">
        <h2 class="source-list-h">Source list</h2>
    </div>
    <div class="row" style="border-bottom: 1px solid black;">
        <div class="col-lg-7" style="margin-bottom: 7px;">
            <label>Source Count: <label id="source_count" style="color: red;">{{source_list|length}}</label></label>&nbsp;&nbsp;
            <button type="button" class="btn btn-outline-primary" data-toggle="collapse" data-target="#source-list-div">Show Source List</button>
        </div>
        
        <div class="col-lg-5" style="text-align: right; margin-bottom: 7px;">  
                <label style="font-size: 20px;">From: &nbsp;</label><input id='from_date' type="date"/>
                <label style="font-size: 20px;">&nbsp;To: &nbsp;</label><input id='to_date' type="date"/>&nbsp;&nbsp;
                <button type="button" id='source-list-btn' class="btn btn-outline-primary" style="width: 100px;">Search</button>
        </div>

    </div>
        <div class="collapse" id="source-list-div">
            <div class="row overflow-auto source-list-div"  style="margin: 12px 27px 0px 22px;">
                <div class="col-sm-12 bg-warning" style="margin-bottom: 25px;">
                    <h3>0-9</h3>
                </div>
                {% for source in source_list %}
                    {% if source.0.0 == '0' or source.0.0 == '1' or source.0.0 == '2'  or source.0.0 == '3' or source.0.0 == '4' or source.0.0 == '5' or source.0.0 == '6' or source.0.0 == '7' or source.0.0 == '8' or source.0.0 == '9' %}
                        <div class="col-lg-2">
                            <input type="checkbox" id="source_name_number" name="source-name" value="{{ source.0 }}">
                            <label for="source_name_number"> {{ source.0 }}</label><br>
                        </div>
                    {% endif %}    
                {% endfor %}
               
                <div class="col-sm-12 bg-warning" style="margin-bottom: 25px;">
                    <h3>a-A</h3>
                </div>
                {% for source in source_list %}
                    {% if source.0.0 == 'a' or source.0.0 == 'A' %}
                        <div class="col-lg-3">
                            <input type="checkbox" id="source_name_a" name="source-name" value="{{ source.0 }}">
                            <label for="source_name_a"> {{ source.0 }}</label><br>
                        </div>
                    {% endif %}    
                {% endfor %}
                
                <div class="col-sm-12 bg-warning" style="margin-bottom: 25px;">
                    <h3>b-B</h3>
                </div>
                {% for source in source_list %}
                    {% if source.0.0 == 'b' or source.0.0 == 'B' %}
                        <div class="col-lg-3">
                            <input type="checkbox" id="source_name_b" name="source-name" value="{{ source.0 }}">
                            <label for="source_name_b"> {{ source.0 }}</label><br>
                        </div>
                    {% endif %}    
                {% endfor %}

                <div class="col-sm-12 bg-warning" style="margin-bottom: 25px;">
                    <h3>c-C</h3>
                </div>
                {% for source in source_list %}
                    {% if source.0.0 == 'c' or source.0.0 == 'C' %}
                        <div class="col-lg-3">
                            <input type="checkbox" id="source_name_c" name="source-name" value="{{ source.0 }}">
                            <label for="source_name_c"> {{ source.0 }}</label><br>
                        </div>
                    {% endif %}    
                {% endfor %}

                <div class="col-sm-12 bg-warning" style="margin-bottom: 25px;">
                    <h3>d-D</h3>
                </div>
                {% for source in source_list %}
                    {% if source.0.0 == 'd' or source.0.0 == 'D' %}
                        <div class="col-lg-3">
                            <input type="checkbox" id="source_name_d" name="source-name" value="{{ source.0 }}">
                            <label for="source_name_d"> {{ source.0 }}</label><br>
                        </div>
                    {% endif %}    
                {% endfor %}

                <div class="col-sm-12 bg-warning" style="margin-bottom: 25px;">
                    <h3>e-E</h3>
                </div>
                {% for source in source_list %}
                    {% if source.0.0 == 'e' or source.0.0 == 'E' %}
                        <div class="col-lg-3">
                            <input type="checkbox" id="source_name_e" name="source-name" value="{{ source.0 }}">
                            <label for="source_name_e"> {{ source.0 }}</label><br>
                        </div>
                    {% endif %}    
                {% endfor %}

                <div class="col-sm-12 bg-warning" style="margin-bottom: 25px;">
                    <h3>f-F</h3>
                </div>
                {% for source in source_list %}
                    {% if source.0.0 == 'f' or source.0.0 == 'F' %}
                        <div class="col-lg-3">
                            <input type="checkbox" id="source_name_f" name="source-name" value="{{ source.0 }}">
                            <label for="source_name_f"> {{ source.0 }}</label><br>
                        </div>
                    {% endif %}    
                {% endfor %}

                <div class="col-sm-12 bg-warning" style="margin-bottom: 25px;">
                    <h3>g-G</h3>
                </div>
                {% for source in source_list %}
                    {% if source.0.0 == 'g' or source.0.0 == 'G' %}
                        <div class="col-lg-3">
                            <input type="checkbox" id="source_name_g" name="source-name" value="{{ source.0 }}">
                            <label for="source_name_g"> {{ source.0 }}</label><br>
                        </div>
                    {% endif %}    
                {% endfor %}

                <div class="col-sm-12 bg-warning" style="margin-bottom: 25px;">
                    <h3>h-H</h3>
                </div>
                {% for source in source_list %}
                    {% if source.0.0 == 'h' or source.0.0 == 'H' %}
                        <div class="col-lg-3">
                            <input type="checkbox" id="source_name_h" name="source-name" value="{{ source.0 }}">
                            <label for="source_name_h"> {{ source.0 }}</label><br>
                        </div>
                    {% endif %}    
                {% endfor %}

                <div class="col-sm-12 bg-warning" style="margin-bottom: 25px;">
                    <h3>i-I</h3>
                </div>
                {% for source in source_list %}
                    {% if source.0.0 == 'i' or source.0.0 == 'I' %}
                        <div class="col-lg-3">
                            <input type="checkbox" id="source_name_i" name="source-name" value="{{ source.0 }}">
                            <label for="source_name_i"> {{ source.0 }}</label><br>
                        </div>
                    {% endif %}    
                {% endfor %}

                <div class="col-sm-12 bg-warning" style="margin-bottom: 25px;">
                    <h3>j-J</h3>
                </div>
                {% for source in source_list %}
                    {% if source.0.0 == 'j' or source.0.0 == 'J' %}
                        <div class="col-lg-3">
                            <input type="checkbox" id="source_name_j" name="source-name" value="{{ source.0 }}">
                            <label for="source_name_j"> {{ source.0 }}</label><br>
                        </div>
                    {% endif %}    
                {% endfor %}

                <div class="col-sm-12 bg-warning" style="margin-bottom: 25px;">
                    <h3>k-K</h3>
                </div>
                {% for source in source_list %}
                    {% if source.0.0 == 'k' or source.0.0 == 'K' %}
                        <div class="col-lg-3">
                            <input type="checkbox" id="source_name_k" name="source-name" value="{{ source.0 }}">
                            <label for="source_name_k"> {{ source.0 }}</label><br>
                        </div>
                    {% endif %}    
                {% endfor %}

                <div class="col-sm-12 bg-warning" style="margin-bottom: 25px;">
                    <h3>l-L</h3>
                </div>
                {% for source in source_list %}
                    {% if source.0.0 == 'l' or source.0.0 == 'L' %}
                        <div class="col-lg-3">
                            <input type="checkbox" id="source_name_l" name="source-name" value="{{ source.0 }}">
                            <label for="source_name_l"> {{ source.0 }}</label><br>
                        </div>
                    {% endif %}    
                {% endfor %}

                <div class="col-sm-12 bg-warning" style="margin-bottom: 25px;">
                    <h3>m-M</h3>
                </div>
                {% for source in source_list %}
                    {% if source.0.0 == 'm' or source.0.0 == 'M' %}
                        <div class="col-lg-3">
                            <input type="checkbox" id="source_name_m" name="source-name" value="{{ source.0 }}">
                            <label for="source_name_m"> {{ source.0 }}</label><br>
                        </div>
                    {% endif %}    
                {% endfor %}

                <div class="col-sm-12 bg-warning" style="margin-bottom: 25px;">
                    <h3>n-N</h3>
                </div>
                {% for source in source_list %}
                    {% if source.0.0 == 'n' or source.0.0 == 'N' %}
                        <div class="col-lg-3">
                            <input type="checkbox" id="source_name_n" name="source-name" value="{{ source.0 }}">
                            <label for="source_name_n"> {{ source.0 }}</label><br>
                        </div>
                    {% endif %}    
                {% endfor %}

                <div class="col-sm-12 bg-warning" style="margin-bottom: 25px;">
                    <h3>o-O</h3>
                </div>
                {% for source in source_list %}
                    {% if source.0.0 == 'o' or source.0.0 == 'O' %}
                        <div class="col-lg-3">
                            <input type="checkbox" id="source_name_o" name="source-name" value="{{ source.0 }}">
                            <label for="source_name_o"> {{ source.0 }}</label><br>
                        </div>
                    {% endif %}    
                {% endfor %}

                <div class="col-sm-12 bg-warning" style="margin-bottom: 25px;">
                    <h3>p-P</h3>
                </div>
                {% for source in source_list %}
                    {% if source.0.0 == 'p' or source.0.0 == 'P' %}
                        <div class="col-lg-3">
                            <input type="checkbox" id="source_name_p" name="source-name" value="{{ source.0 }}">
                            <label for="source_name_p"> {{ source.0 }}</label><br>
                        </div>
                    {% endif %}    
                {% endfor %}

                <div class="col-sm-12 bg-warning" style="margin-bottom: 25px;">
                    <h3>q-Q</h3>
                </div>
                {% for source in source_list %}
                    {% if source.0.0 == 'q' or source.0.0 == 'Q' %}
                        <div class="col-lg-3">
                            <input type="checkbox" id="source_name_q" name="source-name" value="{{ source.0 }}">
                            <label for="source_name_q"> {{ source.0 }}</label><br>
                        </div>
                    {% endif %}    
                {% endfor %}

                <div class="col-sm-12 bg-warning" style="margin-bottom: 25px;">
                    <h3>r-R</h3>
                </div>
                {% for source in source_list %}
                    {% if source.0.0 == 'r' or source.0.0 == 'R' %}
                        <div class="col-lg-3">
                            <input type="checkbox" id="source_name_r" name="source-name" value="{{ source.0 }}">
                            <label for="source_name_r"> {{ source.0 }}</label><br>
                        </div>
                    {% endif %}    
                {% endfor %}

                <div class="col-sm-12 bg-warning" style="margin-bottom: 25px;">
                    <h3>s-S</h3>
                </div>
                {% for source in source_list %}
                    {% if source.0.0 == 's' or source.0.0 == 'S' %}
                        <div class="col-lg-3">
                            <input type="checkbox" id="source_name_s" name="source-name" value="{{ source.0 }}">
                            <label for="source_name_s"> {{ source.0 }}</label><br>
                        </div>
                    {% endif %}    
                {% endfor %}

                <div class="col-sm-12 bg-warning" style="margin-bottom: 25px;">
                    <h3>t-T</h3>
                </div>
                {% for source in source_list %}
                    {% if source.0.0 == 't' or source.0.0 == 'T' %}
                        <div class="col-lg-3">
                            <input type="checkbox" id="source_name_t" name="source-name" value="{{ source.0 }}">
                            <label for="source_name_t"> {{ source.0 }}</label><br>
                        </div>
                    {% endif %}    
                {% endfor %}

                <div class="col-sm-12 bg-warning" style="margin-bottom: 25px;">
                    <h3>u-U</h3>
                </div>
                {% for source in source_list %}
                    {% if source.0.0 == 'u' or source.0.0 == 'U' %}
                        <div class="col-lg-3">
                            <input type="checkbox" id="source_name_u" name="source-name" value="{{ source.0 }}">
                            <label for="source_name_u"> {{ source.0 }}</label><br>
                        </div>
                    {% endif %}    
                {% endfor %}

                <div class="col-sm-12 bg-warning" style="margin-bottom: 25px;">
                    <h3>v-V</h3>
                </div>
                {% for source in source_list %}
                    {% if source.0.0 == 'v' or source.0.0 == 'V' %}
                        <div class="col-lg-3">
                            <input type="checkbox" id="source_name_v" name="source-name" value="{{ source.0 }}">
                            <label for="source_name_v"> {{ source.0 }}</label><br>
                        </div>
                    {% endif %}    
                {% endfor %}

                <div class="col-sm-12 bg-warning" style="margin-bottom: 25px;">
                    <h3>w-W</h3>
                </div>
                {% for source in source_list %}
                    {% if source.0.0 == 'w' or source.0.0 == 'W' %}
                        <div class="col-lg-3">
                            <input type="checkbox" id="source_name_w" name="source-name" value="{{ source.0 }}">
                            <label for="source_name_w"> {{ source.0 }}</label><br>
                        </div>
                    {% endif %}    
                {% endfor %}

                <div class="col-sm-12 bg-warning" style="margin-bottom: 25px;">
                    <h3>x-X</h3>
                </div>
                {% for source in source_list %}
                    {% if source.0.0 == 'x' or source.0.0 == 'X' %}
                        <div class="col-lg-3">
                            <input type="checkbox" id="source_name_x" name="source-name" value="{{ source.0 }}">
                            <label for="source_name_x"> {{ source.0 }}</label><br>
                        </div>
                    {% endif %}    
                {% endfor %}

                <div class="col-sm-12 bg-warning" style="margin-bottom: 25px;">
                    <h3>y-Y</h3>
                </div>
                {% for source in source_list %}
                    {% if source.0.0 == 'y' or source.0.0 == 'Y' %}
                        <div class="col-lg-3">
                            <input type="checkbox" id="source_name_y" name="source-name" value="{{ source.0 }}">
                            <label for="source_name_y"> {{ source.0 }}</label><br>
                        </div>
                    {% endif %}    
                {% endfor %}

                <div class="col-sm-12 bg-warning" style="margin-bottom: 25px;">
                    <h3>z-Z</h3>
                </div>
                {% for source in source_list %}
                    {% if source.0.0 == 'z' or source.0.0 == 'Z' %}
                        <div class="col-lg-3">
                            <input type="checkbox" id="source_name_z" name="source-name" value="{{ source.0 }}">
                            <label for="source_name_z"> {{ source.0 }}</label><br>
                        </div>
                    {% endif %}    
                {% endfor %}
                <div class="source-list-footer">
                    <input type="text" style="display: none;" id='source_list_text' value=""/>
                    <label style="font-size: 20px;">From: &nbsp;</label><input id='drop_from_date' type="date"/>
                    <label style="font-size: 20px;">&nbsp;To: &nbsp;</label><input id='drop_to_date' type="date"/>&nbsp;&nbsp;
                    <button type="button" id='source-list-get-data' class="btn btn-outline-danger" data-toggle="collapse" data-target="#source-list-div">Get Data</button>
                  </div>
            </div>
        </div>
    <div id='loader_div' style="display: none;">
        <div class="d-flex justify-content-center source-list" style="margin-top: 61px; text-align: center;">
            <lable style="font-size: 34px;"> <span class="grow text-primary">Please</span> <span class="text-success">Wait</span> <span class="text-danger">Until</span> <span class="text-warning">Data</span> <span class="text-info">Load</span> 
                <div class="spinner-grow text-primary" role="status">
                    <span class="sr-only">Loading...</span>
                </div>
                <div class="spinner-grow text-success" role="status">
                    <span class="sr-only">Loading...</span>
                </div>
                <div class="spinner-grow text-danger" role="status">
                    <span class="sr-only">Loading...</span>
                </div>
                <div class="spinner-grow text-warning" role="status">
                    <span class="sr-only">Loading...</span>
                </div>
                <div class="spinner-grow text-info" role="status">
                    <span class="sr-only">Loading...</span>
                </div>
            </lable>
        </div>
    </div>
    <div id='table_detail' class="table-responsive-lg" style="overflow: auto; white-space: nowrap; height: 500px;">
        
    </div>
</div>


{% endblock %}
{% block script %}
<script>
    $(document).ready(function(){
        $("#source-list-get-data").click(function(){
            $('#loader_div').css({'display':'block'});
            $('#table_detail').css({'display':'none'});
            function clear_modal_elements(id_name) {
                jQuery("#"+id_name).find(':input').each(function() {
                    switch(this.type) {
                        case 'password':
                        case 'text':
                        case 'textarea':
                        case 'file':
                        case 'select-one':
                        case 'select-multiple':
                        case 'date':
                        case 'number':
                        case 'tel':
                        case 'email':
                        case 'hidden':
                            jQuery(this).val('');
                            break;
                        case 'checkbox':
                        case 'radio':
                            this.checked = false;
                            break;
                    }
                });
            }
            var source_list = [];
            $.each($("input[name='source-name']:checked"), function(){            
                source_list.push($(this).val());
            });
            
            $("#source_list_text").val(source_list);
            if ($(source_list).length == 0){
                alert("Please Select Source For Get result");
                clear_modal_elements("source-list-div");
                $('#loader_div').css({'display':'none'});
                $('#table_detail').css({'display':'block'});
            }
            else
            {
                $.ajax({
                    type:"POST",
                    url:"source-details",
                    data:{
                        drop_from_date:$('#drop_from_date').val(),
                        drop_to_date:$('#drop_to_date').val(),
                        source_list_text:$('#source_list_text').val(),
                        csrfmiddlewaretoken:$('input[name=csrfmiddlewaretoken]').val(),
                    },
                    success:function(return_data){
                        clear_modal_elements("source-list-div");
                        $('#loader_div').css({'display':'none'});
                        $('#table_detail').css({'display':'block'});
                        $('#table_detail').html(return_data);
                    }
                });
            }
        });
    });
</script>
<script>
    $(document).ready(function(){
        $("#source-list-btn").click(function(){

            $('#loader_div').css({'display':'block'});
            $('#table_detail').css({'display':'none'});
            
            $.ajax({
                    type:"POST",
                    url:"All-source-details",
                    data:{
                        
                        from_date:$('#from_date').val(),
                        to_date:$('#to_date').val(),
                        csrfmiddlewaretoken:$('input[name=csrfmiddlewaretoken]').val(),
                    },
                    success:function(return_data){
                        $('#loader_div').css({'display':'none'});
                        $('#table_detail').css({'display':'block'});
                        $('#table_detail').html(return_data);
                        
                    }
                });
        });
    });
</script>

{% endblock %}