{% extends 're_use_html_ele.html' %}
{% load static %}
{% block title %}Source Details{% endblock %}
{% block head %}
<link rel="stylesheet" type="text/css"
    href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.css">
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.21/css/dataTables.bootstrap4.min.css">
<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.21/js/dataTables.bootstrap4.min.js"></script>

{% endblock %}
{% block body %}
<div class="container-fluid">
    <div class="d-flex justify-content-center source-list">
        <h2 class="source-list-h">Source list</h2>
    </div>
    <div class="row">
        <div class="col-md-7">
            <h5>Source Count: <label style="color: red;">{{sourcelist_len}}</label></h5>
        </div>
        <div class="col-md-4">  
                <label style="font-size: 20px;">From: &nbsp;</label><input type="date"/>
                <label style="font-size: 20px;">&nbsp;To: &nbsp;</label><input type="date"/>
        </div>
        <div class="col-md-1">
            <button type="button" class="btn btn-outline-primary" onclick="location.href='source-details'">Search</button>  
        </div>
    </div>
    
    <div class="table-responsive-sm">
        <table class="table table-hover" style="text-align: left;">
            <thead style="background: #00e7ff;">
              <tr>
                <td>Source Name</td>
                <td>Count</td>
              </tr>
            </thead>
            <tbody>
                {% for source in source_details %}
                <tr>
                    <td>{{source.0}}</td>
                    <td>{{source.1}}</td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
    </div>
</div>


{% endblock %}
{% block script %}
<!-- <script>
    $(document).ready(function () {
        $('#example').DataTable({
            "bPaginate": false,
            'info': false
            
        });
    });
</script> -->
{% endblock %}