{% extends 're_use_html_ele.html' %}
{% load static %}
{% block title %}Zero Count Page{% endblock %}
{% block head %}
{% endblock %}

{% block body %}
{% csrf_token %}
<div class="container-fluid" id="main-div">
    <div class="d-flex justify-content-center source-list">
        <h2 class="source-list-h">Zero Count Source list</h2>
    </div>

    <div class="row" style="border-bottom: 1px solid black;">
        <div class="col-lg-7" style="margin-bottom: 7px;">
            <label for="Category">Select Source Category</label>&nbsp;
            <select name="Category" class="drop" id="Category" style="width: 25%;">
                <option selected="selected" disabled> Select </option>
                <option value='all'>All</option>
                <option value='none-in'>Non-India</option>
                <option value='IN'>India</option>
            </select>
        </div>
        <div class="col-lg-5" style="text-align: right; margin-bottom: 7px;">  
                <label style="font-size: 20px;">From: &nbsp;</label><input id='from_date' type="date"/>
                <label style="font-size: 20px;">&nbsp;To: &nbsp;</label><input id='to_date' type="date"/>&nbsp;&nbsp;
                <button type="button" id='search-source-btn' class="btn btn-outline-primary" style="width: 100px;">Search</button>
        </div>

    </div>

    <div id="alert" class="alert-Error" style="display: none;">
    </div>

    <div id='loader_div' style="display: none;">
        <div class="d-flex justify-content-center source-list" style="margin-top: 61px; text-align: center;">
            <lable style="font-size: 34px;"> <span class="grow text-primary">Please</span> <span class="text-success">Wait</span> <span class="text-danger">Until</span> <span class="text-warning">Data</span> <span class="text-info">Load</span> 
                <div class="spinner-grow text-primary" role="status">
                    <span class="sr-only">Loading...</span>
                </div>
                <div class="spinner-grow text-success" role="status">
                    <span class="sr-only">Loading...</span>
                </div>
                <div class="spinner-grow text-danger" role="status">
                    <span class="sr-only">Loading...</span>
                </div>
                <div class="spinner-grow text-warning" role="status">
                    <span class="sr-only">Loading...</span>
                </div>
                <div class="spinner-grow text-info" role="status">
                    <span class="sr-only">Loading...</span>
                </div>
                <br><label style="font-size: 27px; color: lightseagreen;">Data Visible Time will Be Depending On Your Selected Date Like <b class="text-danger">From </b> <B style="color: lightseagreen;">&</B> <B class="text-danger"> To Date</b></label>
            </lable>
            
        </div>
    </div>
    <div class="csv-email" style=" display:none; text-align: end; margin: 20px 0px 20px 0px;">
        <ul class="list-inline">
            <li class="list-inline-item">
                <form action="export-to-csv" class="form-inline pull-right" method="POST" role="form">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-outline-primary">Export Data To CSV</button>
                    <input type="text" id='html_table_input' name="html_table_input" class="html_table_input" style="display: none;" value="" />
                </form>
            </li>
            <li class="list-inline-item">
                <div class="form-inline pull-right">
                    <button type="submit" id="send-email" class="btn btn-outline-danger">Send Email</button>
                    <!-- <input type="text" id='send_Email_dic' name="send_Email_dic" class="send_Email_dic" style="display: none;" value="" /> -->
                </div>
            </li>
        </ul>
    </div>
    <!-- <form action="export-to-csv" method="POST">
        {% csrf_token %}
        <div class="0-export-div" style="display: none; text-align: end; margin: 18px 0px 18px 0px;">
            <button type="submit" class="btn btn-outline-primary">Export Data To CSV</button>
        </div>
        <input type="text" id='html_table_input' name="html_table_input" class="html_table_input" style="display: none;" value="" />
    </form> -->
    <!-- <button type="submit" id="send-email" class="btn btn-outline-danger">Send Email</button>
    <input type="text" id='send_Email_dic' name="send_Email_dic" class="send_Email_dic" style="display: none;" value="" /> -->
    <div id='table_detail' name="table_detail" class="table-responsive-lg" style="overflow: auto; white-space: nowrap; display: none; height: 500px;">
    </div>
    
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
{% endblock %}

{% block script %}
<script>
    $(document).ready(function(){
        $("#search-source-btn").click(function(){
            $('#loader_div').css({'display':'block'});
            $('#table_detail').css({'display':'none'});
            $('.csv-email').css({'display':'none'});
            var category = $('#Category').val();
            var from_date = $('#from_date').val();
            
            if ((category == "") || (category == null)){
                $('#alert').html('<div class="alert alert-danger alert-dismissible"><button type="button" class="close" data-dismiss="alert">&times;</button>&#128545<strong>Error!</strong> Please Select Category</div>');
                $('#alert').css({'display':'block','margin-bottom': '3px'});
                $('#loader_div').css({'display':'none'});
            }
            else 
            {
                $.ajax({
                    type:"POST",
                    url:"Zero-count-page",
                    data:{
                        
                        Category:$('#Category').val(),
                        from_date:$('#from_date').val(),
                        to_date:$('#to_date').val(),
                        csrfmiddlewaretoken:$('input[name=csrfmiddlewaretoken]').val(),
                    },
                    success:function(return_data){
                        $('#loader_div').css({'display':'none'});
                        $('#table_detail').css({'display':'block'});
                        $('.csv-email').css({'display':'block'});
                        $('#table_detail').html(return_data);
                        $("#html_table_input").val(return_data);
                    }
                });
            }
        });
    });
    $(document).ready(function(){
        $("#send-email").click(function(){
            $("#send-email").html("Email Sending......");
            $.ajax({
                    type:"POST",
                    url:"Send-email",
                    data:{
                        html_table_input:$('#html_table_input').val(),
                        csrfmiddlewaretoken:$('input[name=csrfmiddlewaretoken]').val(),
                    },
                    success:function(return_data){
                        $("#send-email").html("Send Email");
                        if(return_data == 'Email Send Successfully!!!!'){
                            $('#alert').html('<div class="alert alert-success alert-dismissible"><button type="button" class="close" data-dismiss="alert">&times;</button><strong>Inserted &nbsp;</strong> &#128591 &nbsp; '+return_data+' &nbsp; &#128591</div>');
                            $('#alert').css({'display':'block','margin-bottom': '40px','margin-top': '5px'});
                        }
                        else
                        {
                            $('#alert').html('<div class="alert alert-danger alert-dismissible"><button type="button" class="close" data-dismiss="alert">&times;</button>&#128545<strong>Error!</strong> &nbsp; &nbsp;'+return_data+'</div>');
                            $('#alert').css({'display':'block','margin-bottom': '40px','margin-top': '5px'});
                            // $("#loader_div").css("display", "none");
                        }
                        
                    }
                });
        });
    });
    
</script>
{% endblock %}